@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0c0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100dvh;
  padding: 4em;
}

.main-title-container {
  margin-bottom: 2.5rem;
  text-align: center;

  h1 {
    color: $whiteColor;
    font-size: 3.7rem;
  }
}

input {
  background-color: $grayBgColor;
  padding: 15px 25px;
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $lightGray;
  outline: none;
  transition: 0.3s ease;
  color: #e0e0e0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    border: 1px solid rgb(255, 239, 11);
  }
}

#user-date {
  cursor: pointer;
}

#time-button {
  padding: 15px 25px;
  color: #0c0c0c;
  font-size: 30px;
  border-radius: 4px;
  background-color: $yellowAccent;
  cursor: pointer;
  font-weight: 700;
  border: none;
  outline: none;
  transition: 0.3s ease;

  &:hover {
    transform: scale(0.95);
  }
}

#message {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
  transform: translateY(50px);
  display: flex;
  flex-direction: column;
  gap: 50px;

  &.show {
    transform: translateY(0);
  }

  .message-title {
    padding: 30px;
    border: 1px solid $lightGray;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.95);
    position: relative;

    h3 {
      word-wrap: break-word;
      white-space: normal;
      max-width: 80%;
      font-size: 4rem;
    }

    .close-btn {
      cursor: pointer;
      width: 60px;
      height: 60px;
      padding: 15px;
      background-color: transparent;
      color: white;
      border: 1px solid $lightGray;
      font-size: 1.2rem;
      line-height: 1.2rem;
      position: absolute;
      top: 15px;
      right: 15px;

      &:hover {
        background-color: #656565;
      }
    }

    .div-span-inline {
      font-size: 20px;
      color: #585858;
      font-weight: 400;
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    .div-span-timer {
      color: rgb(255, 239, 11);
      border: 1px solid $lightGray;
      padding: 15px;
      margin: 20px 0;
      width: 100%;
    }

    .div-span-days {
      color: rgb(255, 123, 15);
      font-size: 55px;
    }

    .div-span-hours {
      color: rgb(253, 196, 9);
      font-size: 50px;
    }

    .div-span-minutes {
      color: rgb(229, 255, 85);
      font-size: 45px;
    }

    .div-span-seconds {
      color: #d3d3d3;
      font-size: 40px;
    }
  }
}

.flatpickr-calendar {
  background: $grayBgColor;
  border: 1px solid $lightGray;
  color: $whiteColor;
  border-radius: 12px;
  padding: 10px;

  &.open {
    display: flex;
    justify-content: center;
    max-width: 350px;
    width: 100%;
  }
}

.flatpickr-months .flatpickr-month {
  color: $whiteColor;
}

.flatpickr-weekdays {
  color: $whiteColor;
}

.flatpickr-day.nextMonthDay {
  color: #ececce;
  background-color: #121212;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: $yellowAccent !important;
  color: $grayBgColor !important;
  border-radius: 50%;
  border: 1px solid #121212;
}

.flatpickr-day.flatpickr-disabled {
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  background-color: rgba(165, 165, 165, 0.12);
  color: #ffffff4e;
}

.flatpickr-day {
  margin: 2px;
  background-color: $lightGray;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-day:hover {
  background: $yellowAccent;
  color: #000;
}

.flatpickr-day.today {
  border: 1px solid $yellowAccent;
  font-weight: bold;
}

@media (max-width: 920px) {
  body {
    padding: 1rem;
  }
  .main-title-container {
    margin-bottom: 1.5rem;

    h1 {
      font-size: 2.5rem;
    }
  }
  #message .message-title {
    padding: 15px;
    h3 {
      font-size: 1.8rem;
      max-width: 68%;
    }

    .close-btn {
      width: 40px;
      height: 40px;
      padding: 10px;
      font-size: 1rem;
    }

    .div-span-timer {
      padding: 10px;
      margin: 10px 0;
    }
    .div-span-days {
      font-size: 2.5rem;
    }
    .div-span-hours {
      font-size: 2.3rem;
    }
    .div-span-minutes {
      font-size: 2.1rem;
    }
    .div-span-seconds {
      font-size: 1.8rem;
    }
  }
}


